# POP Print service

[Unit]
Description=pop-print web print service
After=network.target

[Service]
User=pop-print
Group=pop-print
ExecStart=/usr/bin/pop-print

[Install]
WantedBy=multi-user.target
